<div class="container">
    <h2>Specializations</h2>

    <!-- Loading state -->
    <div *ngIf="isLoading" class="text-center">
        <p>Fetching specializations...</p>
        <div class="spinner"></div>
    </div>

    <!-- Add Specialization Button -->
    <div *ngIf="!isLoading && !isEditing && !isAdding && !isFiltering" class="text-center mb-4">
        <button class="btn btn-primary" (click)="onAdd()">Add Specialization</button>
        <button class="btn btn-primary" (click)="onSearch()">Filter Specializations</button>
    </div>

    <!-- Show Add/Edit Form -->
    <div *ngIf="isAdding || isEditing" class="edit-form">
        <h3>{{ isEditing ? 'Edit' : 'Add' }} Specialization</h3>
        <form [formGroup]="specializationForm" (ngSubmit)="onSave()">
            <div class="form-group">
                <label for="specDescription">Specialization Name</label>
                <input type="text" id="specDescription" formControlName="specDescription" class="form-control" />
            </div>

            <div class="form-group">
                <label for="specLongDescription">Specialization Description</label>
                <input type="text" id="specLongDescription" formControlName="specLongDescription"
                    class="form-control" />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="!specializationForm.valid">{{ isEditing ?
                    'Save' : 'Add' }}</button>
                <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
            </div>
        </form>
    </div>

    <div *ngIf="isFiltering" class="search-form">
        <h3>Filter Specializations</h3>
        <form [formGroup]="filterForm" (ngSubmit)="onFilter()">
            <div class="form-group">
                <label for="specCode">Specialization Code</label>
                <input type="text" id="specCode" formControlName="specCode" class="form-control" />
            </div>
            <div class="form-group">
                <label for="specDescription">Specialization Designation</label>
                <input type="text" id="specDescription" formControlName="specDescription" class="form-control" />
            </div>
            <div class="form-group">
                <label for="specLongDescription">Specialization Description</label>
                <input type="text" id="specLongDescription" formControlName="specLongDescription"
                    class="form-control" />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="!filterForm.valid">Search</button>
                <button type="button" class="btn btn-secondary" (click)="onCancelFilter()">Cancel</button>
            </div>
        </form>
    </div>

    <!-- Show table when not editing or adding, and data is available -->
    <div *ngIf="!isLoading && !isEditing && !isAdding && allSpecializations && allSpecializations.length">
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>Specialization Code</th>
                    <th>Specialization Name</th>
                    <th>Specialization Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let spec of allSpecializations">
                    <td>{{spec.specCode}}</td>
                    <td>{{ spec.specDescription }}</td>
                    <td>{{ spec.specLongDescription }}</td>
                    <td>
                        <button class="btn btn-edit" (click)="onEdit(spec)">Edit</button>
                        <button class="btn btn-delete" (click)="onDelete(spec)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Show message when no specializations are available -->
    <div *ngIf="!isLoading && !isEditing && !isAdding && (!allSpecializations || allSpecializations.length === 0)"
        class="text-center">
        <p>No specializations available.</p>
    </div>
</div>