<div class="container">
    <h2>Allergies List</h2>
    
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Code</th>
          <th>Code System</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let allergy of allergies">
          <td>{{ allergy.name }}</td>
          <td>{{ allergy.code }}</td>
          <td>{{ allergy.codeSystem }}</td>
          <td>{{ allergy.description || '----' }}</td> <!-- If description is empty, display ---- -->
        </tr>
      </tbody>
    </table>
  </div>
  