<div class="container">
  <div class="centered-box-container">
      <div class="centered-box">
          <h1>Healthcare App</h1>
          <div class="button-container">
              <button (click)="onAuthenticate()" class="styled-button">Authenticate</button>
              <button (click)="onCreateAccountClient()" class="styled-button">Create Account Patient</button>
              <button (click)="onPasswordReset()" class="styled-button">Forgot your password?</button>
          </div>
      </div>
  </div>
</div>
