body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.container {
  padding: 40px 60px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Slight transparency */
  max-width: 800px; /* Limit width for better layout */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically inside the container */
  text-align: center;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #e0e0e0;
  box-sizing: border-box;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus {
  outline: none;
  border-color: #98d478;
}

button {
  cursor: pointer;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  border: 2px solid #a7e784;
  background-color: #98d478;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #86ba6a;
  border-color: #76a156;
  transform: translateY(-2px);
}

button[type="button"] {
  background-color: #e74c3c;
  color: #fff;
  margin-left: 5px;
}

button.submit-btn {
  background-color: #27ae60;
  color: #fff;
  font-weight: bold;
  display: block;
  width: 100%;
  margin-top: 20px;
}

.medical-conditions {
  margin-top: 20px;
}

.medical-conditions ul {
  list-style-type: none;
  padding: 0;
}

.medical-conditions li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.medical-conditions input {
  width: 80%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button:hover {
  background-color: #0056b3;
}

button.submit-btn {
  background-color: #27ae60;
}
