<div class="container" id="reset-container">
    <form (ngSubmit)="onSubmit()">
        <h2 class="form-title">Reset Password</h2>
        <div class="form-group" >
            <input placeholder="Your Email Address" type="email" id="email" [(ngModel)]="email" name="email" required />
        </div>
        <button type="submit" id="reset-password-button" class="styled-button">Send password reset email</button>
    </form>

    <div *ngIf="message" class="popup" id="popup" [ngClass]="{'success': isSuccess, 'error': !isSuccess}">
        <p>{{ message }}</p>
        <button (click)="message = ''" class="styled-button close-btn">Close</button>
    </div>
</div>
