<div class="container">
    <form (ngSubmit)="onSubmit()">
        <h2>Reset password</h2>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" [(ngModel)]="email" name="email" required />
        </div>
        <button type="submit" class="submit-btn">Send password reset email</button>
    </form>


    <div *ngIf="message" class="popup" [ngClass]="{'success': isSuccess, 'error': !isSuccess}">
        <p>{{ message }}</p>
        <button (click)="message = ''">Close</button>
    </div>
    <!-- <button (click)="onPasswordReset()" class="styled-button">Forgot your password?</button> -->
</div>