<div class="getProfile">
  <h2>Search Staff Profiles</h2>
  <form (ngSubmit)="onSearch()">
    <div>
      <label for="name">Name:</label>
      <input id="name" [(ngModel)]="name" name="name" />
    </div>
    <div>
      <label for="email">Email:</label>
      <input id="email" [(ngModel)]="email" name="email" />
    </div>
    <div>
      <label for="specialization">specialization:</label>
      <input id="specialization" [(ngModel)]="specialization" name="specialization" />
    </div>
    <div>
      <label for="pageSize">Page Size:</label>
      <input id="pageSize" type="number" [(ngModel)]="pageSize" name="pageSize" min="1" />
    </div>
    <button type="submit">Search</button>
  </form>

  <div *ngIf="searchResults.length > 0; else noResults">
    <h3>Search Results:</h3>
    <p>Results count: {{ searchResults.length }}</p>
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of searchResults">
          <td>{{ result.firstName }}</td>  
          <td>{{ result.lastName }}</td>    
          <td>{{ result.email }}</td>  
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noResults>
    <p class="noResults">No results found.</p>
  </ng-template>

  <!-- Pagination Controls -->
  <div *ngIf="searchResults.length > 0">
    <button (click)="previousPage()" *ngIf="page > 1">Previous</button>
    <button (click)="nextPage()" *ngIf="page * pageSize < totalRecords">Next</button>
  </div>
  
</div>
