<div class="container">
  <h2>Update Operation Request</h2>

  <!-- Form for updating Operation Request -->
  <form (ngSubmit)="updateOperationRequestAsDoctor()">
    <!-- Dropdown for selecting Operation Request -->
    <div class="form-group">
      <label for="operationRequest">Select Operation Request</label>
      <select id="operationRequest" class="form-control" [(ngModel)]="selectedRequestId" name="operationRequest" required>
        <option value="" disabled selected>Select an Operation Request</option>
        <option *ngFor="let request of operationRequests" [value]="request.id">
          Doctor: {{ request.doctor.fullName }} - Deadline: {{ request.deadline }} - Patient: {{ request.patient.firstName }}, {{ request.patient.lastName }} - Priority: {{ request.priority.description }} - Status: {{ request.status }}
        </option>
      </select>
    </div>

    <!-- Dropdown for selecting Priority -->
    <div class="form-group">
      <label for="operationPriority">Select Priority</label>
      <select id="operationPriority" class="form-control" [(ngModel)]="selectedPriorityId" name="operationPriority" required>
        <option value="" disabled selected>Select Priority</option>
        <option *ngFor="let priority of priorities" [value]="priority.id">
          {{ priority.priority }} - {{ priority.description }}
        </option>
      </select>
    </div>

    <!-- Input for Deadline -->
    <div class="form-group">
      <label for="deadline">Deadline</label>
      <input id="deadline" class="form-control" [(ngModel)]="deadline" name="deadline" type="date" required />
    </div>

    <button type="submit" class="btn btn-primary"id="submit">Update Operation Request</button>
  </form>
</div>
